TODO:
4. CLIENT
    - //DONE Protect views 
        - //DONE Profile - MY RANKS
        - Individual ranks
            - Edit & Delete
        - Courses (all courses)
            - Rank a course / create a new ranking
        - //DONE Logout
5. OPTIMIZE STYLING
    - Make things look cleaner throughout

DONE:
1. //DONE Authentication
    - //DONE Define user model
    - //DONE Protect routes that require auth
    - //DONE Associate user with ranks
2. //DONE Courses
    - //DONE Define course model 
    - //DONE Associate with ranks 
    - //DONE Create flow for CRUD courses
3. //DONE Routing
    - //DONE Create routes for auth, ranks, courses 
