TODO:
4. CLIENT
    - //DONE Protect views 
        - Profile - MY RANKS
        - Courses (all courses)
        - //DONE Logout
    - Provide a courseId for ranks
        - Make sure everything works smoothly with the new API

DONE:
1. //DONE Authentication
    - //DONE Define user model
    - //DONE Protect routes that require auth
    - //DONE Associate user with ranks
2. //DONE Courses
    - //DONE Define course model 
    - //DONE Associate with ranks 
    - //DONE Create flow for CRUD courses
3. //DONE Routing
    - //DONE Create routes for auth, ranks, courses 
