TODO:
1. Authentication
    - //DONE Define user model
    - //DONE Protect routes that require auth
    - //DONE Associate user with ranks
2. Courses
    - //DONE Define course model 
    - Associate with ranks 
3. Routing
    - Create routes for auth, ranks, courses 
4. Views
    - Protect views 
    - Create view for all courses (with composite ranks)

DONE:
