.course--card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  background-color: white;
  border-radius: 3px;
  margin: 10px;
  width: 250px;
  transition: 50ms linear;
}

.course--card * {
  margin: 1.5px;
}

.course--card h4 {
  color: var(--green);
}

.courses {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.courses-container {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  max-width: 1000px;
}
